.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.images {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  height: 500px;
}

.images img{
    width: 50%;

}
