.shop-page {
  width: 100%;
}

.shop-container{
    display: flex;
    justify-content: center;
}

.shop-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop-images img{
  width: 100px;
  height: 100px;
}

